.overflow{
  color: red;
  display: inline;
  visibility: hidden;
  outline:0;
  position: relative;
}
#overflow-hat{
  content:'^';
  font-size: 0.83em;
  position:relative;
  top:8px;
  left:-5px;
  color: red;
  visibility: hidden;
}
#editor-main{
  background: transparent;
  width: 35em;
  height: 10em;
  border: solid 1px gray;
  outline:0;
  padding:5px;
  cursor:pointer;
  overflow: auto;
}
#editor-wrapper > div{
  margin:0;
  padding:0;
}
#character-count{
  width: 25em;
  display:flex;
  flex-flow:row;
  align-items:flex-end;
}

#character-count > div:first-child{
  flex: 1;
  align-self: flex-end;
  text-align:right;
}
#character-count > div{
  flex: 0;
  margin-right: 5px;
}
#tracking-box{
  background: #fff;
  border: none;
  outline: 0;
  line-height: 25px;
}
#tracking-point{
  color:red;
  font-weight: bold;
  vertical-align: sub;
  font-size: 1.25em;
  position: absolute;
  visibility: hidden;
}